*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background:var(--color-light-primary);
  color:var(--color-dark-primary);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
  --color-blue-primary:#255280;
  --color-blue-secondary:#6bbad6;
  --color-light-primary:#efefef;
  --color-dark-primary: #121212;
}
.flex-container{
  margin:0 auto;
  max-width:80%;
}