@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background:var(--color-light-secondary);
  color:var(--color-dark-primary);
  font-family: 'Montserrat', sans-serif;
}
:root{
  --color-blue-primary:#255280;
  --color-blue-secondary:#6bbad6;
  --color-light-primary:#efefef;
  --color-light-secondary:#fff;
  --color-dark-primary: #121212;
  --color-green-primary:#0C231E;
}
.flex-container{
  margin:0 auto;
  max-width:60%;
}