@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background:var(--color-light-primary);
  color:var(--color-dark-primary);
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root{
  --color-blue-primary:#255280;
  --color-blue-secondary:#6bbad6;
  --color-light-primary:#fcfcfc;
  --color-light-secondary:#646464;
  --color-dark-primary: #121212;
  --color-green-primary:#0C231E;
  --color-green-secondary:#13322b;
  --color-red-primary:#a42145;
}
.flex-container{
  margin:0 auto;
  max-width:1200px;
  width:70%;
}
@media (min-width:240px) and (max-width:1000px){
  .flex-container{
    width:90%;
  }
}
@media(min-width:1200px){
  .flex-container{
    width: 70%;
  }
}